﻿@model VegaIT.TimeSheet.Web.Models.ReportsViewModel

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="ico report"></i>Reports</h2>
<div class="grey-box-wrap reports">
    @using (Html.BeginForm("Index", "Reports", FormMethod.Post))
    {
        <ul class="form">
            <li>
                <label>Team member:</label>
                <select name="teamMemberId">
                    <option value="0">All</option>
                    @foreach (var teamMember in Model.TeamMembers)
                    {
                        <option id="teamMemberId" value="@teamMember.Id">@teamMember.Name</option>
                    }
                </select>
            </li>
            <li>
                <label>Category:</label>
                <select name="categoryId">
                    <option value="0">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option id="categoryId" value="@category.Id">@category.Name</option>
                    }
                </select>
            </li>
        </ul>
        <ul class="form">
            <li>
                <label>Client:</label>
                <select name="clientId">
                    <option value="0">All</option>
                    @foreach (var client in Model.Clients)
                    {
                        <option id="clientId" value="@client.Id">@client.Name</option>
                    }
                </select>
            </li>
            <li>
                <label>Start date:</label>
                <input type="text" class="in-text datepicker" name="startDate" />
            </li>
        </ul>
        <ul class="form last">
            <li>
                <label>Project:</label>
                <select name="projectId">
                    <option value="0">All</option>
                    @foreach (var project in Model.Projects)
                    {
                        <option id="projectId" value="@project.Id">@project.Name</option>
                    }
                </select>
            </li>
            <li>
                <label>End date:</label>
                <input type="text" class="in-text datepicker" name="endDate" />
            </li>
            <li>
                <input type="reset" class="btn orange right" value="Reset">
                <input type="submit" value="Save" class="btn green" />
            </li>
        </ul>
    }
</div>
<table class="default-table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Team member
        </th>
        <th>
            Projects
        </th>
        <th>Categories</th>
        <th>Description</th>
        <th class="small">Time</th>
    </tr>
    @if (Model.ResultTimeSheets.Count > 0)
    {
        for (int i = 0; i < Model.ResultTimeSheets.Count(); i++)
        {
            <tr>
                <td>
                    @Model.ResultTimeSheets[i].Item1
                </td>
                <td>
                    @Model.ResultTimeSheets[i].Item2
                </td>
                <td>
                    @Model.ResultTimeSheets[i].Item3
                </td>
                <td>
                    @Model.ResultTimeSheets[i].Item4
                </td>
                <td>
                    @Model.ResultTimeSheets[i].Item5
                </td>
                <td class="small">
                    @Model.ResultTimeSheets[i].Item6
                </td>
            </tr>
        }
    }
</table>
<div class="total">
    <span>Report total: <em>@Model.TotalTime</em></span>
</div>
<div class="grey-box-wrap reports">
    <div class="btns-inner">
        <a href="javascript:;" class="btn white">
            <i class="ico print"></i>
            <span>Print report</span>
        </a>
        <a href="javascript:;" class="btn white">
            <i class="ico pdf"></i>
            <span>Create PDF</span>
        </a>
        <a href="javascript:;" class="btn white">
            <i class="ico excel"></i>
            <span>Export to excel</span>
        </a>
    </div>
</div>