﻿@model VegaIT.TimeSheet.Web.Models.TimeSheetsViewModel

@{
    ViewBag.Title = "TimeSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            <h2><i class="ico timesheet"></i>TimeSheet</h2>
            <div class="grey-box-wrap">
                <div class="top">
                    @if (Model.CurrentMonth == 1)
                    {
                        <a href="@Url.Action("Index", "Home", new { month = 12, year = Model.CurrentYear-1 }, null)" class="prev"><i></i>previous month</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Home", new { month = Model.CurrentMonth - 1, year = Model.CurrentYear }, null)" class="prev"><i></i>previous month</a>
                    }
                    
                    <span class="center">@Model.Months[Model.CurrentMonth], @Model.CurrentYear</span>
                    
                    @if (Model.CurrentMonth == 12 )
                    {
                        <a href="@Url.Action("Index", "Home", new { month = 1, year = Model.CurrentYear + 1 }, null)" class="next"><i></i>next month</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Home", new { month = Model.CurrentMonth + 1, year = Model.CurrentYear }, null)" class="next">next month<i></i></a>
                    }
                </div>
                <div class="bottom">

                </div>
            </div>
            <table class="month-table">
                <tr class="head">
                    <th><span>monday</span></th>
                    <th>tuesday</th>
                    <th>wednesday</th>
                    <th>thursday</th>
                    <th>friday</th>
                    <th>saturday</th>
                    <th>sunday</th>
                </tr>
                <tr class="mobile-head">
                    <th>mon</th>
                    <th>tue</th>
                    <th>wed</th>
                    <th>thu</th>
                    <th>fri</th>
                    <th>sat</th>
                    <th>sun</th>
                </tr>
                @for (int i = 0; i < Model.CalendarMonth.Count / 7; i++)
                {
                    <tr>
                        @for (int j = i*7; j < i*7+7; j++)
                        {
                            <td class="@Model.CalendarMonth[j].Item5">
                                <div class="date">
                                    <span>@Model.CalendarMonth[j].Item3.</span>
                                </div>
                                <div class="hours">
                                    <a href="@Url.Action("Index", "TimeSheets", new { month = @Model.CalendarMonth[j].Item2, year = @Model.CalendarMonth[j].Item1, day = @Model.CalendarMonth[j].Item3 }, null)">
                                        Hours: <span>@Model.CalendarMonth[j].Item4</span>
                                    </a>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
            <div class="total">
                <span>Total hours: <em>@Model.TotalTime</em></span>
            </div>