﻿@model VegaIT.TimeSheet.Web.Models.TimeSheetDetailViewModel

@{
    ViewBag.Title = "TimeSheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="ico timesheet"></i>TimeSheet</h2>
<div class="grey-box-wrap">
    <div class="top">
        <a href="@Url.Action("Index", "TimeSheets", new { month = new DateTime(@Model.CalendarWeek[0].Item1, @Model.CalendarWeek[0].Item2, @Model.CalendarWeek[0].Item3).AddDays(-7).Month,
                            year = new DateTime(@Model.CalendarWeek[0].Item1, @Model.CalendarWeek[0].Item2, @Model.CalendarWeek[0].Item3).AddDays(-7).Year,
                            day = new DateTime(@Model.CalendarWeek[0].Item1, @Model.CalendarWeek[0].Item2, @Model.CalendarWeek[0].Item3).AddDays(-7).Day }, null)" class="prev"><i></i>previous week</a>

        <span class="center">@Model.Months[@Model.CalendarWeek[0].Item2] @Model.CalendarWeek[0].Item3 - @Model.Months[@Model.CalendarWeek[6].Item2] @Model.CalendarWeek[6].Item3, @Model.CurrentYear (week @Model.WeekNumber)</span>

        <a href="@Url.Action("Index", "TimeSheets", new { month = new DateTime(@Model.CalendarWeek[0].Item1, @Model.CalendarWeek[0].Item2, @Model.CalendarWeek[0].Item3).AddDays(7).Month,
                            year = new DateTime(@Model.CalendarWeek[0].Item1, @Model.CalendarWeek[0].Item2, @Model.CalendarWeek[0].Item3).AddDays(7).Year,
                            day = new DateTime(@Model.CalendarWeek[0].Item1, @Model.CalendarWeek[0].Item2, @Model.CalendarWeek[0].Item3).AddDays(7).Day }, null)" class="next">next week<i></i></a>
    </div>
    <div class="bottom">
        <ul class="days">
            @for (int i = 0; i < Model.CalendarWeek.Count; i++)
            {
                if (i == 6)
                {
                    <li class="last @Model.CalendarWeek[i].Item5">
                        <a href="@Url.Action("Index", "TimeSheets", new { month = @Model.CalendarWeek[i].Item2, year = @Model.CalendarWeek[i].Item1, day = @Model.CalendarWeek[i].Item3 }, null)">
                            <b>@Model.Months[@Model.CalendarWeek[i].Item2].Substring(0, 3) @Model.CalendarWeek[i].Item3</b>
                            <span>@Model.CalendarWeek[i].Item4</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="@Model.CalendarWeek[i].Item5">
                        <a href="@Url.Action("Index", "TimeSheets", new { month = @Model.CalendarWeek[i].Item2, year = @Model.CalendarWeek[i].Item1, day = @Model.CalendarWeek[i].Item3 }, null)">
                            <b>@Model.Months[@Model.CalendarWeek[i].Item2].Substring(0, 3) @Model.CalendarWeek[i].Item3</b>
                            <span>@Model.CalendarWeek[i].Item4</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
@using (Html.BeginForm("Create", "TimeSheets", new { month = Model.CurrentMonth, year = Model.CurrentYear, day = Model.CurrentDay }, FormMethod.Post))
{
    <table class="default-table">
        <tr>
            <th>
                Client <em>*</em>
            </th>
            <th>
                Project <em>*</em>
            </th>
            <th>
                Category <em>*</em>
            </th>
            <th>Description</th>
            <th class="small">
                Time <em>*</em>
            </th>
            <th class="small">Overtime</th>
        </tr>
        @foreach (var timeSheet in Model.TimeSheets)
        {
            <tr>
                <td>
                    <select name="clientId">
                        @foreach (var client in Model.Clients)
                        {
                            if (timeSheet.ClientId == client.Id)
                            {
                                <option selected="selected" id="clientId" value="@client.Id">@client.Name</option>
                            }
                            else
                            {
                                <option id="clientId" value="@client.Id">@client.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <select name="projectId">
                        <option>Choose project</option>
                        @foreach (var project in Model.Projects)
                        {
                            if (Model.ProjectCategories.Where(pc => pc.Id == timeSheet.ProjectCategoryId).FirstOrDefault().ProjectId == project.Id)
                            {
                                <option selected="selected" id="projectId" value="@project.Id">@project.Name</option>
                            }
                            else
                            {
                                <option id="projectId" value="@project.Id">@project.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <select name="categoryId">
                        <option>Choose category</option>
                        @foreach (var category in Model.Categories)
                        {
                            if (Model.ProjectCategories.Where(pc => pc.Id == timeSheet.ProjectCategoryId).FirstOrDefault().CategoryId == category.Id)
                            {
                                <option selected="selected" id="categoryId" value="@category.Id">@category.Name</option>
                            }
                            else
                            {
                                <option id="categoryId" value="@category.Id">@category.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <input type="text" class="in-text medium" name="description" value="@timeSheet.Description" />
                </td>
                <td class="small">
                    <input type="text" class="in-text xsmall" name="time" value="@timeSheet.Time" />
                </td>
                <td class="small">
                    <input type="text" class="in-text xsmall" name="overtime" value="@timeSheet.Overtime" />
                </td>
            </tr>
        }
        @if (Model.TimeSheets.Count() < 7)
        {
            for (int i = 0; i < (7 - Model.TimeSheets.Count()); i++)
            {
                <tr>
                    <td>
                        <select name="clientId" id="clientId@(i)" onchange="javascript: clientChanged(@i);">
                            <option>Choose client</option>
                            @foreach (var client in Model.Clients)
                            {
                                <option id="clientId" value="@client.Id">@client.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select name="projectId" id="projectId@(i)" onchange="javascript: projectChanged(@i);">
                            <option>Choose project</option>
                        </select>
                    </td>
                    <td>
                        <select name="categoryId" id="categoryId@(i)">
                            <option>Choose category</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="description" class="in-text medium" />
                    </td>
                    <td class="small">
                        <input type="text" name="time" class="in-text xsmall" />
                    </td>
                    <td class="small">
                        <input type="text" name="overtime" class="in-text xsmall" />
                    </td>
                </tr>
            }
        }
    </table>
    <div class="total">
        <a href="@Url.Action("Index", "Home", new { month = Model.CurrentMonth, year = Model.CurrentYear }, null)"><i></i>back to monthly view</a>
        <span>Total hours: <em>@Model.DayTotalTime</em></span>
        <br>
        <br>
        <div class="right">
            <input type="submit" value="Save" class="btn green" />
        </div>
    </div>
}

<script type="text/javascript">
    function clientChanged(num) {
        clientId = $('#clientId'+num).val();

        alert(clientId);

        var Url = "@Url.Content("~/TimeSheets/GetProjects")";

        $.ajax({
            url: Url,
            dataType: 'json',
            data: { clientId: clientId },
            success: function (data) {
                var dataLength = response.data.length;

                alert(dataLength);

                $('#projectId'+num).empty();
                $('#projectId'+num).append("<option value>Choose project</option>");

                for (i = 0; i < dataLength; i++) {
                    $('#projectId'+num).append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');
                }
            },
            error: function () { alert('EPIC FAIL'); }
        });
    }

    function projectChanged(num) {
        projectId = $('#projectId'+num).val();

        var Url = "@Url.Content("~/TimeSheets/GetCategories")";

        $.ajax({
            url: Url,
            data: { projectId: projectId },
            success: function (data) {
                var dataLength = data.length;

                $('#categoryId'+num).empty();
                $('#categoryId'+num).append("<option value>Choose category</option>");

                for (i = 0; i < dataLength; i++) {
                    $('#categoryId'+num).append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');
                }
            },
            error: function () { alert('EPIC FAIL'); }
        });
    }
</script>