﻿@model VegaIT.TimeSheet.Web.Models.TeamMembersViewModel

@{
    ViewBag.Title = "TeamMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="ico team-member"></i>Team members</h2>
<div class="grey-box-wrap reports ico-member">
    <a href="#new-member" class="link new-member-popup test">
        <span>Create new member</span>
    </a>
</div>
<div class="new-member-wrap">
    <div id="new-member" class="new-member-inner">
        <h2>Create new team member</h2>
        @using (Ajax.BeginForm("Create", "TeamMembers", new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#new-member').modal('hide');" }))
        {
            <ul class="form">
                <li>
                    <label>Name:</label>
                    <input type="text" class="in-text" name="name" />
                </li>
                <li>
                    <label>Hours per week:</label>
                    <input type="text" class="in-text" name="hoursPerWeek" />
                </li>
                <li>
                    <label>Username:</label>
                    <input type="text" class="in-text" name="username" />
                </li>
                <li>
                    <label>Email:</label>
                    <input type="text" class="in-text" name="email" />
                </li>
                <li class="inline">
                    <label>Status:</label>
                    <span class="radio">
                        <label for="inactive">Inactive:</label>
                        <input type="radio" value="0" name="status" id="inactive" />
                    </span>
                    <span class="radio">
                        <label for="active">Active:</label>
                        <input type="radio" value="1" name="status" id="active" />
                    </span>
                </li>
                <li class="inline">
                    <label>Role:</label>
                    <span class="radio">
                        <label for="admin">Admin:</label>
                        <input type="radio" value="1" name="role" id="admin" />
                    </span>
                    <span class="radio">
                        <label for="worker">Worker:</label>
                        <input type="radio" value="0" name="role" id="worker" />
                    </span>
                </li>
            </ul>
                    <div class="buttons">
                        <div class="inner">
                            <input type="submit" value="Invite team member" class="btn green" />
                        </div>
                    </div>
        }
    </div>
</div>
<div class="accordion-wrap">
    @foreach (var teamMember in Model.TeamMembers)
            {
        <div class="item">
            <div class="heading">
                <span>@teamMember.Name</span>
                <i>+</i>
            </div>
            <div class="details">
                @using (Ajax.BeginForm("Update", "TeamMembers", new { id = teamMember.Id }, new AjaxOptions { HttpMethod = "PUT" }))
                {
                    <ul class="form">
                        <li>
                            <label>Name:</label>
                            <input type="text" class="in-text" value="@teamMember.Name" name="name" />
                        </li>
                        <li>
                            <label>Hours per week:</label>
                            <input type="text" class="in-text" value="@teamMember.HoursPerWeek" name="hoursPerWeek" />
                        </li>
                    </ul>
                        <ul class="form">
                            <li>
                                <label>Username:</label>
                                <input type="text" class="in-text" value="@teamMember.UserName" name="userName" />
                            </li>
                            <li>
                                <label>Email:</label>
                                <input type="text" class="in-text" value="@teamMember.Email" name="email" />
                            </li>
                        </ul>
                        <ul class="form last">
                            <li>
                                <label>Status:</label>
                                <span class="radio">
                                    <label for="inactive">Inactive:</label>
                                    <input type="radio" value="0" name="status" id="inactive" />
                                </span>
                                <span class="radio">
                                    <label for="active">Active:</label>
                                    <input type="radio" value="1" name="status" id="active" />
                                </span>
                            </li>
                            <li>
                                <label>Role:</label>
                                <span class="radio">
                                    <label for="admin">Admin:</label>
                                    <input type="radio" value="1" name="role" id="admin" />
                                </span>
                                <span class="radio">
                                    <label for="worker">Worker:</label>
                                    <input type="radio" value="0" name="role" id="worker" />
                                </span>
                            </li>
                        </ul>
                        <div class="buttons">
                            <div class="inner">
                                <input type="submit" value="Save" class="btn green" />
                                <a href="@Url.Action("Delete", "TeamMembers", new { @id = @teamMember.Id }, null)" class="btn red">Delete</a>
                                <a href="javascript:;" class="btn orange">Reset Password</a>
                            </div>
                        </div>
                }
            </div>
        </div>
    }
</div>
<div class="pagination">
    <ul>
        @for (int i = 1; i <= Model.Pages; i++)
        {
            <li>
                <a href="javascript:;">@i</a>
            </li>
        }
        @if (Model.Pages > 1)
        {
            <li class="last">
                <a href="javascript:;">Next</a>
            </li>
        }
    </ul>
</div>