﻿@model VegaIT.TimeSheet.Web.Models.ClientsViewModel

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  

<h2><i class="ico clients"></i>Clients</h2>
<div class="grey-box-wrap reports">
    <a href="#new-member" class="link new-member-popup" data-toggle="modal">Create new client</a>
    <div class="search-page">
        <input type="search" name="search-clients" class="in-search" id="searchText" onkeydown = "if (event.keyCode == 13) {Model.SearchText = document.getElementById('searchText').value;}"  />
    </div>
</div>
<div class="new-member-wrap">
    <div id="new-member" class="new-member-inner">
        <h2>Create new client</h2>
        @using (Ajax.BeginForm("Create", "Clients", new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#new-member').modal('hide');" }))
        {
        <ul class="form">
            <li>
                <label>Client name:</label>
                <input type="text" class="in-text" id="Client-Name" name="name"/>
            </li>
            <li>
                <label>Address:</label>
                <input type="text" class="in-text" id="Client-Address" name="address"/>
            </li>
            <li>
                <label>City:</label>
                <input type="text" class="in-text" id="Client-City" name="city"/>
            </li>
            <li>
                <label>Zip/Postal code:</label>
                <input type="text" class="in-text" id="Client-ZipCode" name="zipCode"/>
            </li>
            <li>
                <label>Country:</label>
                <select id="Client-CountryId" name="countryId">
                    @foreach (var country in Model.Countries)
                    {
                        <option id="countryId" value="@country.Id">@country.Name</option>
                    }
                </select>
            </li>
        </ul>
        <div class="buttons">
            <div class="inner">
                <input id="save-client" type="submit" value="Save" class="btn green" />
            </div>
        </div>
        }
    </div>
</div>
<div class="alpha">
    <ul>
        @foreach (Tuple<char, string> letter in Model.Letters)
        {
            <li class="@letter.Item2">
                <a href="@Url.Action("Index", "Clients", new { firstLetter = letter.Item1 })" onClick="Model.Letter = letter;">@letter.Item1</a>
            </li>
        }
    </ul>
</div>
<div class="accordion-wrap clients">
    @foreach (var client in Model.Clients)
    {
        <div class="item">
            <div class="heading">
                <span>@client.Name</span>
                <i>+</i>
            </div>
            <div class="details">
            @using (Ajax.BeginForm("Update", "Clients", new { id = client.Id }, new AjaxOptions { HttpMethod = "PUT" }))
            {
                <ul class="form">
                    <li>
                        <label>Client name:</label>
                        <input type="text" class="in-text" value="@client.Name" id="UpdateName@(client.Id)" name="name"/>
                    </li>
                    <li>
                        <label>Zip/Postal code:</label>
                        <input type="text" class="in-text" value="@client.ZipCode" id="UpdateZipCode@(client.Id)" name="zipCode"/>
                    </li>
                </ul>
                <ul class="form">
                    <li>
                        <label>Address:</label>
                        <input type="text" class="in-text" value="@client.Address" id="UpdateAddress@(client.Id)" name="address"/>
                    </li>
                    <li>
                        <label>Country:</label>
                        <select id="UpdateCountryId@(client.Id)" name="countryId">
                            @foreach (var country in Model.Countries)
                            {
                                if (country.Id == client.CountryId)
                                {
                                    <option selected="selected" value="@country.Id">@country.Name</option>
                                }
                                else
                                {
                                    <option value="@country.Id">@country.Name</option>
                                }
                            }
                        </select>
                    </li>
                </ul>
                <ul class="form last">
                    <li>
                        <label>City:</label>
                        <input type="text" class="in-text" value="@client.City" id="UpdateCity@(client.Id)" name="city"/>
                    </li>
                </ul>
                <div class="buttons">
                    <div class="inner">
                        <input type="submit" value="Save" class="btn green" />
                        <a href="@Url.Action("Delete", "Clients", new { @id = @client.Id }, null)" class="btn red">Delete</a>
                    </div>
                </div>
            }
            </div>
        </div>
    }
</div>

<div class="pagination">
    <ul>
        @for (int i = 1; i <= Model.Pages; i++)
        {
            <li>
                <a href="@Url.Action("Index", "Clients", new {@pageNumber = i, @firstLetter = Model.Letter, @searchText = Model.SearchText}, null)" onClick="Model.CurrentPage = pageNumber;">@i</a>
            </li>
        }
        @if (Model.Pages > 1)
        {
            <li class="last">
                <a href="@Url.Action("Index", "Clients", new {@pageNumber = (Model.CurrentPage+1), @firstLetter = Model.Letter, @searchText = Model.SearchText}, null)" onClick="Model.CurrentPage = (Model.CurrentPage+1);">Next</a>
            </li>
        }
    </ul>
</div>