﻿@model VegaIT.TimeSheet.Web.Models.ProjectsViewModel

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <h2><i class="ico projects"></i>Projects</h2>
            <div class="grey-box-wrap reports">
                <a href="#new-member" class="link new-member-popup" data-toggle="modal">Create new project</a>
                <div class="search-page">
                    <input type="search" name="search-clients" class="in-search"/>
                </div>
            </div>
            <div class="new-member-wrap">
                <div id="new-member" class="new-member-inner">
                    @using (Ajax.BeginForm("Create", "Projects", new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#new-member').modal('hide');" }))
                    {
                    <h2>Create new project</h2>
                    <ul class="form">
                        <li>
                            <label>Project name:</label>
                            <input type="text" class="in-text" name="name"/>
                        </li>
                        <li>
                            <label>Description:</label>
                            <input type="text" class="in-text" name="description"/>
                        </li>
                        <li>
                            <label>Customer:</label>
                            <select name="clientId">
                                @foreach (var customer in Model.Clients)
                                {
                                    <option value="@customer.Id">@customer.Name</option>
                                }
                            </select>
                        </li>
                        <li>
                            <label>Lead:</label>
                            <select name="leadId">
                                @foreach (var lead in Model.TeamMembers)
                                {
                                    <option value="@lead.Id">@lead.Name</option>
                                }
                            </select>
                        </li>
                    </ul>
                    <div class="buttons">
                        <div class="inner">
                            <input type="submit" value="Save" class="btn green" />
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="alpha">
                <ul>
                    @foreach (Tuple<char, string> letter in Model.Letters)
                    {
                        <li class="@letter.Item2">
                            <a href="@Url.Action("Index", "Projects", new { firstLetter = letter.Item1 })" onClick="Model.Letter = letter;">@letter.Item1</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="accordion-wrap projects">
            @foreach (var project in Model.Projects)
            {
                <div class="item">
                    <div class="heading">
                        @foreach (var client in Model.Clients)
                        {
                            if (client.Id == project.ClientId)
                            {
                                <span>@project.Name</span> <span><em>(@client.Name)</em></span>
                                break;
                            }
                        }
                        <i>+</i>
                    </div>
                    <div class="details">
                        @using (Ajax.BeginForm("Update", "Projects", new { id = project.Id }, new AjaxOptions { HttpMethod = "PUT" }))
                        {
                        <ul class="form">
                            <li>
                                <label>Project name:</label>
                                <input type="text" class="in-text" value="@project.Name" name="name"/>
                            </li>
                            <li>
                                <label>Lead:</label>
                                <select name="leadId">
                                    @foreach (var lead in Model.TeamMembers)
                                    {
                                        if (lead.Id == project.LeadId)
                                        {
                                            <option selected="selected" value="@lead.Id">@lead.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@lead.Id">@lead.Name</option>
                                        }
                                    }
                                </select>
                            </li>
                        </ul>
                        <ul class="form">
                            <li>
                                <label>Description:</label>
                                <input type="text" class="in-text" value="@project.Description" name="description"/>
                            </li>

                        </ul>
                        <ul class="form last">
                            <li>
                                <label>Customer:</label>
                                <select name="clientId">
                                    @foreach (var customer in Model.Clients)
                                    {
                                        if (customer.Id == project.ClientId)
                                        {
                                            <option selected="selected" value="@customer.Id">@customer.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@customer.Id">@customer.Name</option>
                                        }
                                    }
                                </select>
                            </li>
                            <li class="inline">
                                <label>Status:</label>
                                <span class="radio">
                                    <label for="active">Active:</label>
                                    <input type="radio" value="1" name="status" id="active"/>
                                </span>
                                <span class="radio">
                                    <label for="inactive">Inactive:</label>
                                    <input type="radio" value="2" name="status" id="inactive"/>
                                </span>
                                <span class="radio">
                                    <label for="archive">Archive:</label>
                                    <input type="radio" value="3" name="status" id="archive" />
                                </span>
                            </li>
                        </ul>
                        <div class="buttons">
                            <div class="inner">
                                <input type="submit" value="Save" class="btn green" />
                                <a href="@Url.Action("Delete", "Projects", new { @id = @project.Id }, null)" class="btn red">Delete</a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
               }
            </div>
            <div class="pagination">
                <ul>
                    @for (int i = 1; i <= Model.Pages; i++)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Clients", new {@pageNumber = i, @firstLetter = Model.Letter, @searchText = Model.SearchText}, null)" onClick="Model.CurrentPage = pageNumber;">@i</a>
                        </li>
                    }
                    @if (Model.Pages > 1)
                    {
                        <li class="last">
                            <a href="@Url.Action("Index", "Clients", new {@pageNumber = (Model.CurrentPage+1), @firstLetter = Model.Letter, @searchText = Model.SearchText}, null)" onClick="Model.CurrentPage = (Model.CurrentPage+1);">Next</a>
                        </li>
                    }
                </ul>
            </div>