﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0" />

    <title>TimeSheet</title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <script type="text/javascript" src="~/Scripts/main/modernizr-2.6.2.min.js"></script>

    @Styles.Render("~/Content/assets/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <header>
            <div class="top-bar"></div>
            <div class="wrapper">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <img src="~/Content/assets/images/logo.png" alt="VegaITSourcing Timesheet" />
                </a>
                <ul class="user right">
                    <li>
                        <a href="javascript:;">Sladjana Miljanovic</a>
                        <div class="invisible"></div>
                        <div class="user-menu">
                            <ul>
                                <li>
                                    <a href="javascript:;" class="link">Change password</a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="link">Settings</a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="link">Export all data</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="last">
                        <a href="javascript:;">Logout</a>
                    </li>
                </ul>
                <nav>
                    <ul class="menu" id="menu">
                        <li>
                            <a href="@Url.Action("Index","Home")" class="btn nav active" id="TimeSheetLink" onclick="buttonClicked(this.id);">TimeSheet</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Clients")" class="btn nav" id="ClientsLink" onclick="buttonClicked(this.id);">Clients</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Projects")" class="btn nav" id="ProjectsLink" onclick="buttonClicked(this.id);">Projects</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Categories")" class="btn nav" id="CategoriesLink" onclick="buttonClicked(this.id);">Categories</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","TeamMembers")" class="btn nav" id="TeamMembersLink" onclick="buttonClicked(this.id);">Team members</a>
                        </li>
                        <li class="last">
                            <a href="@Url.Action("Index","Reports")" class="btn nav" id="ReportsLink" onclick="buttonClicked(this.id);">Reports</a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <a href="javascript:;" class="menu-btn">
                            <span>mobile menu</span>
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:;">TimeSheet</a>
                            </li>
                            <li>
                                <a href="javascript:;">Clients</a>
                            </li>
                            <li>
                                <a href="javascript:;">Projects</a>
                            </li>
                            <li>
                                <a href="javascript:;">Categories</a>
                            </li>
                            <li>
                                <a href="javascript:;">Team members</a>
                            </li>
                            <li class="last">
                                <a href="javascript:;">Reports</a>
                            </li>
                        </ul>
                    </div>
                    <span class="line"></span>
                </nav>
            </div>
        </header>
        <div class="container body-content">
            <div class="wrapper">
                <section class="content">
                    @RenderBody()
                </section>
            </div>
            <hr />
            <footer>
                <div class="wrapper">
                    <ul>
                        <li>
                            <span>Copyright 2013. VegaITSourcing All rights reserved</span>
                        </li>
                    </ul>
                    <ul class="right">
                        <li>
                            <a href="javascript:;">Terms of service</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="last">Privacy policy</a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>

    <!-- javascript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write("<script src='~/Scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
    <script type="text/javascript" src="~/Scripts/main/default.js"></script>
    <script type="text/javascript" src="~/Scripts/main/accordion.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        function buttonClicked(clicked_id)
        {
            var elem = document.getElementById(clicked_id);
            var list = document.getElementById("menu").getElementsByTagName("li");
            for (i = 0; i < list.length; i++)
            {
                if (list[i].id != elem.id)
                {
                    list[i].getElementByTagName("a").className = "btn nav";
                }
            }
            elem.className = "btn nav active";
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
